<div class="container">
  <h1 class="page-header">Users</h1>

  <% if (users.length === 0) { %>
  <p>No users found.</p>
  <% } else { %>
  <ul class="list-group">
    <% users.forEach(function (user) { %>
    <li class="list-group-item">
      <div class="form-check">
        <div class="toggle-button">
          <input type="checkbox" id="toggle-<%= user.id %>" />
          <label for="toggle-<%= user.id %>">
            <div class="toggle-ball"></div>
          </label>
        </div>
        <label class="form-check-label" for="toggle-<%= user.id %>">
          <strong><%= user.email %></strong>
          <% if (user.isLoggedIn) { %>
          <span class="badge badge-success">Online</span>
          <% } else { %>
          <span class="badge badge-danger">Offline</span>
          <% } %>
        </label>
      </div>
    </li>
    <% }) %>
  </ul>
  <% } %>
</div>


  
  
  
        
        
   
  
  